* {
box-sizing: border-box;
}

body {
margin: 0;
background-color: black;

}

header {
/* border-bottom: 5px solid white; */
padding: 30px;

}

h1 {
color: white;
font-size: 200px;
font-family: Arial, Helvetica, sans-serif;
padding: 30px;

}

h2 {
border-top: 2px solid white; 
border-bottom: 2px solid white;
color: white;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
padding: 30px;  
}

.grid-container-paragraph {
color: white;
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr;
gap: 25px;
padding: 30px;

}

.grid-container-h{
color: white;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px ;
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px¢’;
}

.grid1 {
border-top: 2px solid white;
padding: 30px;   
}

.grid2 {
border-top: 2px solid white;
padding: 30px;  
}

.grid3 {
border-top: 2px solid white;
padding: 30px;  
}

.grid4 {
border-top: 2px solid white; 
padding: 30px; 
}

.title1 {
color: white;
font-size: 600px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content:flex-start;
font-weight: bolder;
margin-bottom:1em;
line-height: 10px;
margin-top: 700px;
}

.title2 {
color: white;
font-size: 600px;
font-family: Arial, Helvetica, sans-serif;
padding-top: -20px;
display: flex;
justify-content: center;
line-height: 5px;
font-weight: bolder;
}

.title3 {
color: white;
font-size: 600px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 80px;
display: flex;
justify-content: end;
font-weight: bolder;
line-height: 5px;

}
.container {
    position: relative;
    top: -489px;
    left: 20px;
   
    
  }
